@import "tailwindcss";

:root {
  --primary: #0d1b2a;
  --secondary: #2e3a4f;
  --accent: #f1a208;
  --muted: #7a8399;
  --surface: #f8fafc;
  --blue1: #1e40af;
  --blue2: #3b82f6;   
    --font-poppins: 'Poppins', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-surface: var(--surface);
  --color-blue1: var(--blue1);
  --color-blue2: var(--blue2);
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
}

html {
  /* font-family: Inter, system-ui, sans-serif; */
}

body {
  /* background-color: var(--color-primary); */
  color: var(--color-surface);
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-poppins);
}
button{
  cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  font-family: var(--font-montserrat) !important;
}